<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active">Home</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME LEFT -->
<div class="content-frame-left" style="padding-top: 0px;" ng-controller="TestController">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="push-up-0" style="text-align:center;">กลุ่มเอกสาร</h3>
            <table>
                <tr>
                    <td>
                        <div>
                            <a href="~/Test/PurchaseRequest" class="tile tile-warning" style="right: 5px;">
                                <span class="fa fa-file-text-o"></span>
                                <p>ใบเสนอขอซื้อ</p>                                
                            </a>
                        </div>
                    </td>
                    <td style="width:133px; height:110px;">
                        <div>
                            <a href="#" class="tile tile-warning">
                                <span class="fa fa-file-text-o"></span>
                                <p>เอกสารสั่งซื้อ</p>
                            </a>
                        </div>
                    </td>
                    <td style="width:133px; height:110px;">
                        <div>
                            <a href="#" class="tile tile-warning" style="left: 5px;">
                                <span class="fa fa-file-text-o"></span>
                                <p>เอกสารรับจากสั่งซื้อ</p>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <a href="#" class="tile tile-warning" style="right: 5px;">
                                <span class="fa fa-file-text"></span>
                                <p>เอกสารรับตรง</p>
                            </a>
                        </div>
                    </td>
                    <td style="width:133px; height:110px;">
                        <div>
                            <a href="#" class="tile tile-warning">
                                <span class="fa fa-copy"></span>
                                <p>เอกสารโอนย้ายสินค้า</p>
                            </a>
                        </div>
                    </td>
                    <td style="width:133px; height:110px;">
                        <div>
                            <a href="#" class="tile tile-warning" style="left: 5px;">
                                <span class="fa fa-file-text-o"></span>
                                <p>ใบรับสินค้าจากโอนถ่าย</p>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <a href="#" class="tile tile-warning" style="right: 5px;">
                                <span class="fa fa-copy"></span>
                                <p>เอกสารเบิกจ่ายสินค้าที่มีราคา</p>
                            </a>
                        </div>
                    </td>
                    <td style="width:133px; height:110px;">
                        <div>
                            <a href="#" class="tile tile-warning">
                                <span class="fa fa-file-text-o"></span>
                                <p>เอกสารรับสินค้าจากการโอนที่มีราคา</p>
                            </a>
                        </div>
                    </td>
                    <td style="width:133px; height:110px;">
                        <div>
                            <a href="#" class="tile tile-warning" style="left: 5px;">
                                <span class="fa fa-file-o"></span>
                                <p>ใบขอสินค้า</p>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <a href="#" class="tile tile-warning" style="right: 5px;">
                                <span class="fa fa-paste" ></span>
                                <p>เอกสารเทมเพลท</p>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="push-up-0" style="text-align:center;">กลุ่มสต๊อกสินค้า</h3>
            <table>
                <tr>
                    <td style="width:133px; height:110px;">
                        <div>
                            <a href="#" class="tile tile-warning" style="right: 5px;">
                                <span class="fa fa-gears"></span>
                                <p>ตั้งค่าการนับสต๊อก</p>
                            </a>
                        </div>
                    </td>
                    <td style="width:133px; height:110px;">
                        <div>
                            <a href="#" class="tile tile-warning">
                                <span class="fa fa-calendar"></span>
                                <p>นับสต๊อกรายวัน</p>
                            </a>
                        </div>
                    </td>
                    <td style="width:133px; height:110px;">
                        <div>
                            <a href="#" class="tile tile-warning" style="left: 5px;">
                                <span class="fa fa-calendar"></span>
                                <p>นับสต๊อกรายสัปดาห์</p>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <a href="#" class="tile tile-warning" style="right: 5px;">
                                <span class="fa fa-calendar"></span>
                                <p>นับสต๊อกรายเดือน</p>
                            </a>
                        </div>
                    </td>
                    <td style="width:133px; height:110px;">
                        <div>
                            <a href="#" class="tile tile-warning">
                                <span class="fa fa-copy"></span>
                                <p>ปรับเพิ่ม-ปรับลด สต๊อก</p>
                            </a>
                        </div>
                    </td>
                    <td style="width:133px; height:110px;">
                        <div>
                            <a href="#" class="tile tile-warning" style="left: 5px;">
                                <span class="glyphicon glyphicon-book"></span>
                                <p>สต๊อกการ์ด</p>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <a href="#" class="tile tile-warning" style="right: 5px;">
                                <span class="glyphicon glyphicon-list-alt"></span>
                                <p>รายงานสินค้าเข้าออก</p>
                            </a>
                        </div>
                    </td>                   
                </tr>                
            </table>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="push-up-0" style="text-align:center;">กลุ่มทั่วไป</h3>
            <table style="width:100%;">
                <tr>
                    <td>
                        <div>
                            <a href="#" class="tile tile-warning" style="right: 5px;">
                                <span class="glyphicon glyphicon-user"></span>
                                <p>ผู้จัดจำหน่าย</p>
                            </a>
                        </div>
                    </td>
                    <td style="width:260px;">
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;  
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- END CONTENT FRAME LEFT -->
<!-- START CONTENT FRAME BODY -->
<div class="content-frame-body" ng-controller="TestController">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>เอกสารที่ยังไม่ได้รับการอนุมัติ</h3>
            <div id="gridContainer" dx-data-grid="dataGridOptionsApprove"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>เอกสารสั่งซื้อที่ยังค้างรับ</h3>
            <div id="gridContainer" dx-data-grid="dataGridOptionsReceive"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>เอกสารที่มาจากคลังอื่น</h3>
            <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
        </div>
    </div>
</div>
<!-- END CONTENT FRAME BODY -->